
html {
  scroll-behavior: smooth;
  
 }


 .mainheader{
  background: #00A995;
  position: relative;
  z-index: -2;
  min-height: 75vh;

 }


.container{
  margin: 0 4rem ;
}

.App-header {
  min-height: 75vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 2rem;
  color: #000;
  background: rgba(61, 61, 61,0.4);
  overflow-y: hidden;
  position: relative;
  
}
a{
  text-decoration: none;
}
.white{
  color: white;
}

.navitems{
  color: white;
  display: flex;
  justify-content: space-between;
}

.nav{
  margin: 2rem;
}

.videopart{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  
}

.landing{
  display: flex;
  justify-content: space-around;
}

.landing-page{
  
position: absolute;
width: 400px;
height: 134px;
left: 120px;
top: 247px;

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 52px;
line-height: 74px;
/* or 162% */

display: flex;
align-items: center;

color: #e6e5e5;
}


.landing-image{
  position: relative;
  left: 50%;
  top: 10px;
  transform: rotate(90deg);
  
}
  

/* arrow box */
.arrowbox{
  font-size: 3rem;
  background: rgb(255, 255, 255);
  text-align: center;


}
.arrowbox i{
  cursor: pointer;
  color: rgb(72, 70, 70);
  margin: 2rem;
}

/* Cots image and descp */
.cots-image{
  position: relative;
  width: 105px;
  height: 63px;
  margin: 2rem 0;
  left: 50%;
  transform: translate(-50%);
  background: url(assets/cots.png);
}

.cots-descp{
font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 29px;
align-items: center;
text-align: center;
color: #063F5C;
}
.cots-descp p{
  width: 560px;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

/* video box */
.videoeventbox{
position: relative;
width: 90%;
height: 400px;
left: 50%;
margin:0 0  2rem 0;
transform: translate(-50%);
background: rgb(194, 194, 194);
background: url(assets/Frame.png), #063F5C;
}


/* cards */
.carouselComp h3{
  position: relative;
  height: 39px;
  font-family: Roboto Slab;
  align-items: center;
  text-transform: uppercase;
  color: #063F5C;
  margin: 5rem 5% 0  5%;
}
.carouselComp .cards{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: #063F5C;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

}
.carouselComp .featured-box{
position: relative;
 width: 40%;
 margin: 3.4rem 2rem;
 max-height: 360px;
 align-items: center;
}
.carouselComp .featured-box .featured{
  position: relative;
 height: 100%;
 background: rgb(44, 41, 41);
 overflow: hidden;
}
.carouselComp .featured-box img{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50% ,-50%);
  width: 100%;
}


/* Footer */


.footerComponent{
  text-align: center !important;
}

.footer{
  background: #063F5C;
  padding: 3rem;
  margin: 4rem;
  text-align: center;
}
.footer-text{
font-family: Rubik,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 42px;
line-height: 24px;
/* or 162% */

align-items: center;
text-align: center;
color: #FFFFFF;
}

.footerdescp{
  line-height: 24px;
  color: #FFFFFF;
  width: 50%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
.collab-btn{
  padding:0.4rem 1.5rem;
  margin: 2rem;
  background: white;
  border: hidden;
  outline: honeydew;
  font-size: large;
}
/* footer flexes */
.footer-flexes{
  position: relative;
  display:flex ;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 4rem;

}
.footer-flex:hover{
 background: rgb(16, 111, 98);
}
.footer-flex{
  background: #063F5C;
  height: 250px;
  width: 250px;
  text-align: center;
  position: relative;

}
.footer-flex span{
  color: white;
  position: relative;
  top: 45%;
  transform: translate(-56%,-54%);
  padding: 1rem;
  text-transform: uppercase;

}
.footerComponent hr{
  width: 90%;
  border: 1px solid #063F5C;
}
.copyright{
  color: #849CAC ;
  margin: 1rem 0 2rem 1rem;

}
.copyright a{ 
  text-decoration: underline;
  color: #849CAC ;


}

.cp-smalltext{
  color: #849CAC;
  float: right;
  margin: 0 4rem 0 0;
  font-size: 12px;
  text-decoration: underline;
}




@media screen and (max-width:780px){
  .App-header{
    padding: 0;
    margin: 0;
  }
  .cots-descp p {
    width: 100%;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.landing-page{
  width: 100%;
  left: 0%;
  padding: 0 1rem;
  position: relative;
  line-height: 60px;
}
.carouselComp .featured-box {
  position: relative;
  width: 90%;
  margin: 3.4rem 2rem;
  max-height: 360px;
  align-items: center;
}
.footer {
  background: #063F5C;
  padding: 1rem;
  margin: 0rem;
  text-align: center;
}

.footer-text {
  font-weight: 400;
  font-size: 42px;
  line-height: 37px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.footerdescp {
  line-height: 24px;
  color: #FFFFFF;
  width: 90%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
.footer-flex {
  background: #063F5C;
  height: 100px;
  width: 250px;
  text-align: center;
  position: relative;
}
.cp-smalltext{

  margin: 0 0.2rem 0 0;
  font-size: 12px;
}

}
